/* ------------Écran inférieur à 1845px------------ */
@media all and (max-width: 1845px) {
  .footer_left {
    width: 65%;
  }
  .footer_mid {
    /* display: none; */
  }
}
/* ------------Écran inférieur à 1666px------------ */
@media all and (max-width: 1666px) {
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
/* ------------Écran inférieur à 1500px------------ */
@media all and (max-width: 1500px) {
  .promote .leading_title {
    padding-left: 70px;
  }
  .promote .ct_selection {
    width: auto;
  }
}
/* ------------Écran inférieur à 1430px------------ */
@media all and (max-width: 1430px) {
  .headband {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/* ------------Écran inférieur à 1250px------------ */
@media all and (max-width: 1250px) {
  /* ------------Navigation------------ */
  nav {
    padding-left: 40px;
    padding-right: 0px;
  }
  /* -------------------------------------- */
  /* ------------Index / Bandeau------------  */
  .headband {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* -------------------------------------- */
  /* ------------Index / Activité------------  */
  .promote_activity ._container {
    width: auto;
  }
  .pa_line1,
  .pa_line2 {
    flex-direction: column;

    height: 100%;

    align-items: center;
  }
  .pa_line1 ._activity,
  .pa_line2 ._activity {
    width: auto;
  }
  .ct_map {
    width: 95%;
    margin-bottom: 30px;
  }
  ._activity ._ct_img_activity {
    margin-bottom: 30px;
  }
}
/* ------------Écran inférieur à 1080px------------ */
@media all and (max-width: 1080px) {
  .promote {
    height: 155vh;
  }
  .promote .leading_title {
    padding-left: 90px;
  }
  .promote .ct_selection {
    height: 135vh;
  }
      /* -------------------------------------- */
  /* ------------Construction------------  */
  .left_construction {
    width: 45%;
  }
}
/* ------------Écran inférieur à 900px------------ */
@media all and (max-width: 900px) {
  /* ------------Navigation------------ */
  nav {
    position: fixed;
    bottom: 0;
  }

  .ct_left_nav {
    display: none;
  }

  .ct_bot_nav {
    display: none;
  }

  ._ct_nav_g {
    display: none;
  }

  .container_nav {
    text-align: center;
  }

  .container_nav a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 55px;
  }

  .logo_cat {
    display: block;
  }

  .logo_cat .fa-map-marked-alt {
    display: block !important;
    margin-left: 0px !important;
  }

  ._ct_nav_d .fa-map-marked-alt {
    display: none;
  }

  .logo_cat {
    display: flex;
    justify-content: center;
  }

  .logo_mobile {
    display: block;
  }
  /* -------------------------------------- */
  /* ------------Index / Background------------  */
  .wrapper-no4 {
    display: flex;
  }
  .ct_background {
    height: 100vh;
  }
  .sous_ct_voyager {
    display: none;
  }
  /* -------------------------------------- */
  /* ------------Index / Bandeau------------  */
  .headband {
    flex-direction: column;

    height: 450px;
  }
  .headband ._left,
  .headband ._mid,
  .headband ._right {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  /* -------------------------------------- */
  /* ------------Index / Promote------------  */
  .promote {
    height: 1875px;
  }
  .promote_activity {
    height: 1295px;
  }
  .promote .leading_title {
    padding-left: 45px;
  }
  .promote .ct_selection {
    width: 76%;
    height: 93%;
  }
  .pa_line1 ._activity,
  .pa_line2 ._activity {
    width: 80%;
  }
  ._activity ._ct_img_activity {
    width: 100%;
    height: 240px;
  }
  ._activity ._ct_img_activity h3 {
    font-size: 23px;
  }
  .filter {
    display: none;
  }
  /* -------------------------------------- */
  /* ------------Footer------------  */
  footer {
    display: none;
  }
    /* -------------------------------------- */
  /* ------------Construction------------  */
  .construction {
    flex-direction: column;
    flex-wrap: initial;

    margin-top: 0px;
  }
  .construction ._container {
    flex-direction: column;
    flex-wrap: initial;
  }
  .left_construction {
    width: 95%;
  }
  .right_construction {
    width: 63%;
  }
}
/* ------------Écran inférieur à 850px------------ */
@media all and (max-width: 850px) {
  /* ------------Navigation------------ */
  nav {
    padding-left: 0px;
  }
  .ct_left_nav {
    width: 20%;
  }

  .ct_bot_nav {
    width: 0%;
  }

  .container_nav {
    margin-right: 27px;
  }

  ._ct_nav_d {
    width: 140px;
  }

  ._ct_nav_g {
    margin-right: 0px;
  }
  /* -------------------------------------- */
  /* ------------Index / Promote------------  */
  .promote_activity {
    height: 1350px;
  }
}
/* ------------Écran inférieur à 720px------------ */
@media all and (max-width: 719px) {
  .promote {
    height: 1700px;
  }
  .promote .leading_title {
    padding-left: 10px;
  }
}
/* ------------Écran inférieur à 470px------------ */
@media all and (max-width: 470px) {
  /* ------------Index / Background------------  */
  .wrapper-no4 .button-bird {
    width: 330px;
  }
  .wrapper-no4 .bird {
    display: none;
  }
}
/* ------------Écran inférieur à 630px------------ */
@media all and (max-width: 630px) {
  /* ------------Construction------------  */
  .right_construction {
    width: 90%;
  }
}
/* ------------Écran inférieur à 460px------------ */
@media all and (max-width: 460px) {
  /* ------------Construction------------  */
  .construction h1 {
    font-size: 40px;
  }
  .right_construction {
    width: 100%;
  }
}
