/* -------------------------------Settings------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e3e3e3;

  font-family: "GlobalLight";
  /* font-family: "Roboto", sans-serif; */
  color: #575757;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #575757;
  cursor: pointer;
}

a:visited,
a:link {
  color: #575757;
}

/* -------------------------------------------------------------- */

/* -------------------------------Navigation------------------------------- */
nav {
  display: flex;
  justify-content: space-around;

  position: absolute;

  /* top: 25px; */

  width: 100%;
  height: 80px;

  padding-left: 160px;
  padding-right: 160px;

  background-color: #0f2233d6;

  border-bottom: solid 2px #a6a6a612;
  box-shadow: 0px 4px 9px 0px #0000002e;

  align-items: center;

  z-index: 99;
}

nav a,
nav a:link,
nav a:visited {
  color: #e3e3e3;

  font-family: "GlobalLight";

  transition-duration: 0.3s;
}

nav a:hover {
  color: #c2c2c2;
}

.ct_left_nav {
  display: flex;

  width: 25%;
}
.ct_mid_nav {
  display: flex;

  width: 50%;
}
.ct_bot_nav {
  display: flex;
  width: 25%;
}

.ct_mid_nav {
  justify-content: space-around;
}

.container_logo {
  width: 155px;

  padding-top: 7px;
}

.container_nav {
  font-size: 19px;
}

.container_nav .fa-chevron-down {
  margin-left: 5px;

  font-size: 15px;
}

.logo_cat {
  display: none;
}

.underline {
  position: relative;

  top: 28px;

  width: 0%;
  height: 2px;

  margin-left: auto;
  margin-right: auto;

  background-color: white;

  border-radius: 5px;

  transition: ease 0.4s;
}

._ct_nav_d:hover ._ud {
  width: 45%;
}

._ct_nav_c:hover ._uc {
  width: 45%;
}

._ct_nav_h:hover ._uh {
  width: 45%;
}

._ct_nav_g:hover ._ug {
  width: 45%;
}
/* -------------------------------------------------------------- */

/* -------------------------------Index------------------------------- */
.ct_background {
  height: 90vh;
}

.img_background {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: top;

  box-shadow: 0px 4px 9px 0px #00000085;
}

.ct_voyager {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 90%;

  /* padding-top: 80px; */
  padding-bottom: 170px;
}

.sous_ct_voyager {
  position: relative;

  display: flex;

  width: 850px;
  height: 80px;

  margin: auto;

  background-color: white;

  border: solid 1px #b7b7b7;
  border-radius: 40px;

  box-shadow: 0px 4px 9px 0px #00000094;

  z-index: 10;
}

.ct_search {
  display: flex;
  flex-direction: column;

  justify-content: center;

  cursor: pointer;

  transition-duration: 150ms;
}

._ct_pays {
  width: 29%;

  padding-left: 45px;

  border-radius: 39px;
}

._ct_saison {
  width: 37%;

  padding-left: 49px;

  border-radius: 40px;
}

._group_btn {
  display: flex;
  flex-direction: row !important;

  width: 34%;

  margin-left: 1px;

  border-radius: 40px;
}

._ct_pays:hover,
._ct_saison:hover,
._group_btn:hover {
  background-color: #e6e6e6;
}

.name_block_search {
  font-size: 15px;
}

.group_saison {
  display: flex;
  flex-direction: column !important;
  justify-content: center;

  width: 189px;
}

.search_voyager {
  display: flex;
  flex-direction: column !important;
  justify-content: center;

  margin-left: 20px;
}

/* -----Input pays----- */
#input_pays {
  height: 30px;

  background-color: rgba(87, 87, 87, 0);

  border: none;

  font-size: 16px;
  font-family: "GlobalLight";

  cursor: pointer;
}

#input_pays::placeholder {
  color: #000;
}

#input_pays:focus {
  outline: currentcolor none medium;
}

#input_pays:valid {
  color: #757575;
}
/* -------------------- */

/* -----Select----- */
#select_saison,
#select_activite {
  height: 30px;

  background-color: rgba(87, 87, 87, 0);

  border: none;

  font-size: 16px;
  font-family: "GlobalLight";
  margin-left: -3px;

  color: #757575;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: pointer;
}

option {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.option_lock {
  display: none;
}
/* ---------------- */

#btn_search {
  width: 60px;
  height: 60px;
  background-color: #224f66;

  border: none;
  border-radius: 30px;

  font-size: 23px;

  color: white;

  cursor: pointer;

  transition-duration: 170ms;
}

#btn_search:hover {
  background-color: #1e475c;
}

.ct_mise_en_avant {
  height: 90vh;
}

.logo_mobile {
  display: none;

  top: 15px;
  left: 15px;

  width: 170px;

  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

/* 
Button template : 
https://codepen.io/eyesight/pen/KGEebY 
*/
.cache {
  position: relative;

  width: 100%;
  height: 100%;

  border-radius: 36px;
  border: solid 2px #166e6e;

  background-color: #fff8f6;

  z-index: 200;
}
.wrapper-no4 {
  display: none;
  justify-content: center;

  align-items: center;

  height: 100vh;
  width: 100vw;

  max-width: 100%;

  overflow: hidden;
}
.wrapper-no4 .button-bird {
  display: flex;
  justify-content: center;

  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  width: 420px;
  height: 75px;

  padding: 0;

  background-color: #fff8f6;
  border-radius: 38px;

  border: none;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 6px 16px;

  opacity: 1;

  cursor: pointer;
}

.wrapper-no4 .button-bird__text {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  margin: 0;

  font-size: 20px;
  font-family: "GlobalMedium";
  text-align: center;

  color: #575757;

  z-index: 1000;
}

.wrapper-no4 .button-bird__text span {

    background: linear-gradient(90deg,rgba(29, 87, 115, 0.82) 0%,rgb(198, 194, 127) 135.12%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wrapper-no4 .button-bird:hover .button-bird__text span {
    background: linear-gradient(90deg,rgba(20, 107, 151, 0.82) 0%,rgb(198, 194, 127) 135.12%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wrapper-no4 .button-bird:focus {
  outline: none;
}
.wrapper-no4 .button-bird:hover .bird--30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 2.5s cubic-bezier(0.42, 0, 0.58, 1),
    top 2.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 2s;
}
.wrapper-no4 .button-bird:hover .bird--30:after {
  left: 50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird:hover .bird--30:before {
  left: -50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird .feather {
  position: absolute;
  width: 18%;
  left: 40%;
  top: 12px;
  display: none;
  opacity: 0;
  fill: #131335;
}
.wrapper-no4 .button-bird.active,
.cache.active {
  background-color: transparent;
  box-shadow: none;
  border: none;
  transition: all 0.2s linear 0.1s;
}
.wrapper-no4 .button-bird.active .button-bird__text {
  color: #131335;
  animation: text-fade 1.5s 0.2s;
}
.wrapper-no4 .button-bird.active .feather {
  display: block;
  animation: feather-fade 1.5s linear 0.5s forwards;
}
.wrapper-no4 .button-bird.active .bird--20,
.wrapper-no4 .button-bird.active .bird--19,
.wrapper-no4 .button-bird.active .bird--18,
.wrapper-no4 .button-bird.active .bird--21,
.wrapper-no4 .button-bird.active .bird--23,
.wrapper-no4 .button-bird.active .bird--25,
.wrapper-no4 .button-bird.active .bird--30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1),
    top 2s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1.5s;
}
.wrapper-no4 .button-bird.active .bird--5,
.wrapper-no4 .button-bird.active .bird--17,
.wrapper-no4 .button-bird.active .bird--16,
.wrapper-no4 .button-bird.active .bird--15,
.wrapper-no4 .button-bird.active .bird--22 {
  left: 600px;
  top: -600px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s,
    top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s, opacity 0.5s linear 1.6s;
}
.wrapper-no4 .button-bird.active .bird--14,
.wrapper-no4 .button-bird.active .bird--13,
.wrapper-no4 .button-bird.active .bird--12,
.wrapper-no4 .button-bird.active .bird--24,
.wrapper-no4 .button-bird.active .bird--1 {
  left: 650px;
  top: -650px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s,
    top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.15s, opacity 0.5s linear 1.65s;
}
.wrapper-no4 .button-bird.active .bird--11,
.wrapper-no4 .button-bird.active .bird--10,
.wrapper-no4 .button-bird.active .bird--9,
.wrapper-no4 .button-bird.active .bird--26,
.wrapper-no4 .button-bird.active .bird--27 {
  left: 650px;
  top: -700px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s,
    top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.2s, opacity 0.5s linear 1.7s;
}
.wrapper-no4 .button-bird.active .bird--8,
.wrapper-no4 .button-bird.active .bird--7,
.wrapper-no4 .button-bird.active .bird--6,
.wrapper-no4 .button-bird.active .bird--28 {
  left: 700px;
  top: -750px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s,
    top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.25s, opacity 0.5s linear 1.75s;
}
.wrapper-no4 .button-bird.active .bird,
.wrapper-no4 .button-bird.active .bird--4,
.wrapper-no4 .button-bird.active .bird--29,
.wrapper-no4 .button-bird.active .bird--3 {
  left: 750px;
  top: -800px;
  opacity: 0;
  transition: left 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s,
    top 2s cubic-bezier(0.42, 0, 0.58, 1) 0.3s, opacity 0.5s linear 1.8s;
}
.wrapper-no4 .button-bird.active .bird--2 {
  left: 850px;
  top: -850px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s,
    top 1.5s cubic-bezier(0.42, 0, 0.58, 1) 0.35s, opacity 0.5s linear 1.8s;
}
.wrapper-no4 .button-bird.active .bird--5:after,
.wrapper-no4 .button-bird.active .bird--4:after,
.wrapper-no4 .button-bird.active .bird--8:after,
.wrapper-no4 .button-bird.active .bird--14:before,
.wrapper-no4 .button-bird.active .bird--16:after,
.wrapper-no4 .button-bird.active .bird--17:before,
.wrapper-no4 .button-bird.active .bird--21:after,
.wrapper-no4 .button-bird.active .bird--30:after,
.wrapper-no4 .button-bird.active .bird--30:before {
  left: 50px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) -0.3s;
}
.wrapper-no4 .button-bird.active .bird--4:before,
.wrapper-no4 .button-bird.active .bird--7:before,
.wrapper-no4 .button-bird.active .bird--9:after,
.wrapper-no4 .button-bird.active .bird--12:before,
.wrapper-no4 .button-bird.active .bird--13:before,
.wrapper-no4 .button-bird.active .bird--18:after,
.wrapper-no4 .button-bird.active .bird--27:after,
.wrapper-no4 .button-bird.active .bird--26:before {
  left: -50px;
  top: 0px;
  transition: all ss cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird:before,
.wrapper-no4 .button-bird.active .bird--2:after,
.wrapper-no4 .button-bird.active .bird--1:after,
.wrapper-no4 .button-bird.active .bird--7:after,
.wrapper-no4 .button-bird.active .bird--8:before,
.wrapper-no4 .button-bird.active .bird--15:after,
.wrapper-no4 .button-bird.active .bird--19:before,
.wrapper-no4 .button-bird.active .bird--22:after,
.wrapper-no4 .button-bird.active .bird--28:after,
.wrapper-no4 .button-bird.active .bird--28:before,
.wrapper-no4 .button-bird.active .bird--3:after {
  left: 100px;
  top: -100px;
  transition: all 1s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.wrapper-no4 .button-bird.active .bird--2:before,
.wrapper-no4 .button-bird.active .bird--1:before,
.wrapper-no4 .button-bird.active .bird--9:before,
.wrapper-no4 .button-bird.active .bird--12:after,
.wrapper-no4 .button-bird.active .bird--13:after,
.wrapper-no4 .button-bird.active .bird--17:after,
.wrapper-no4 .button-bird.active .bird--19:before,
.wrapper-no4 .button-bird.active .bird--23:after,
.wrapper-no4 .button-bird.active .bird--23:before {
  left: 50px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird:after,
.wrapper-no4 .button-bird.active .bird--6:before,
.wrapper-no4 .button-bird.active .bird--10:after,
.wrapper-no4 .button-bird.active .bird--11:after,
.wrapper-no4 .button-bird.active .bird--16:before,
.wrapper-no4 .button-bird.active .bird--18:before,
.wrapper-no4 .button-bird.active .bird--20:before,
.wrapper-no4 .button-bird.active .bird--24:before,
.wrapper-no4 .button-bird.active .bird--26:after,
.wrapper-no4 .button-bird.active .bird--27:before {
  left: 50px;
  top: 50px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .button-bird.active .bird--3:before,
.wrapper-no4 .button-bird.active .bird--6:after,
.wrapper-no4 .button-bird.active .bird--10:before,
.wrapper-no4 .button-bird.active .bird--11:before,
.wrapper-no4 .button-bird.active .bird--14:after,
.wrapper-no4 .button-bird.active .bird--15:before,
.wrapper-no4 .button-bird.active .bird--20:after,
.wrapper-no4 .button-bird.active .bird--22:before,
.wrapper-no4 .button-bird.active .bird--24:after,
.wrapper-no4 .button-bird.active .bird--25:after,
.wrapper-no4 .button-bird.active .bird--25:before,
.wrapper-no4 .button-bird.active .bird--5:before {
  left: 100px;
  top: -10px;
  transition: all 2s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}
.wrapper-no4 .bird,
.wrapper-no4 .bird:before,
.wrapper-no4 .bird:after,
.wrapper-no4 .bird--1,
.wrapper-no4 .bird--1:after,
.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--2,
.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--3,
.wrapper-no4 .bird--3:after,
.wrapper-no4 .bird--3:before,
.wrapper-no4 .bird--4,
.wrapper-no4 .bird--4:after,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--5,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--6,
.wrapper-no4 .bird--6:after,
.wrapper-no4 .bird--6:before,
.wrapper-no4 .bird--7,
.wrapper-no4 .bird--7:after,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--8,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--9,
.wrapper-no4 .bird--9:after,
.wrapper-no4 .bird--9:before,
.wrapper-no4 .bird--10,
.wrapper-no4 .bird--10:after,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--11,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--12,
.wrapper-no4 .bird--12:after,
.wrapper-no4 .bird--12:before,
.wrapper-no4 .bird--13,
.wrapper-no4 .bird--13:after,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--14,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--15,
.wrapper-no4 .bird--15:after,
.wrapper-no4 .bird--15:before,
.wrapper-no4 .bird--16,
.wrapper-no4 .bird--16:after,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--17,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--18,
.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before,
.wrapper-no4 .bird--19,
.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before,
.wrapper-no4 .bird--20,
.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21,
.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--26:before,
.wrapper-no4 .bird--27,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29,
.wrapper-no4 .bird--29:after,
.wrapper-no4 .bird--29:before,
.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
  opacity: 1;
  display: block;
  position: absolute;
  background-image: url("../images/bird.svg");
  background-size: auto 100%;
  width: 60px;
  height: 33px;
  top: 0;
  left: 0;
  animation-name: fly-cycle;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
}
.wrapper-no4 .bird--1:after,
.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--4:after,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--7:after,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--10:after,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--13:after,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--16:after,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--18,
.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before,
.wrapper-no4 .bird--19,
.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before,
.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21,
.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--26:before,
.wrapper-no4 .bird--27,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29,
.wrapper-no4 .bird--29:after,
.wrapper-no4 .bird--29:before,
.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
  width: 30px;
  height: 33px;
  top: -8px;
  left: 8px;
  z-index: -100;
}
.wrapper-no4 .bird--21,
.wrapper-no4 .bird--22,
.wrapper-no4 .bird--23,
.wrapper-no4 .bird--24,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--27,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--29 {
  top: 0;
}
.wrapper-no4 .bird--22,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--28 {
  top: 25px;
}
.wrapper-no4 .bird--23,
.wrapper-no4 .bird--26,
.wrapper-no4 .bird--29 {
  top: 45px;
}
.wrapper-no4 .bird--24,
.wrapper-no4 .bird--25,
.wrapper-no4 .bird--26 {
  left: 133px;
}
.wrapper-no4 .bird--27,
.wrapper-no4 .bird--28,
.wrapper-no4 .bird--29 {
  left: 256px;
}
.wrapper-no4 .bird--18 {
  top: 0;
  left: 0;
}
.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before {
  left: -20px;
}
.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before {
  left: -10px;
}
.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--19:before {
  top: 18px;
}
.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--20:after {
  top: -18px;
  left: 12px;
}
.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21:after {
  left: 27px;
}
.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--20:before {
  top: -36px;
  left: 12px;
}
.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26:before {
  top: 10px;
  left: 45px;
}
.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--29:after {
  left: 10px;
  top: 4px;
}
.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29:before {
  left: -45px;
  top: 10px;
}
.wrapper-no4 .bird:before,
.wrapper-no4 .bird:after,
.wrapper-no4 .bird--1:after,
.wrapper-no4 .bird--1:before,
.wrapper-no4 .bird--2:before,
.wrapper-no4 .bird--2:after,
.wrapper-no4 .bird--3:after,
.wrapper-no4 .bird--3:before,
.wrapper-no4 .bird--4:after,
.wrapper-no4 .bird--4:before,
.wrapper-no4 .bird--5:after,
.wrapper-no4 .bird--5:before,
.wrapper-no4 .bird--6:after,
.wrapper-no4 .bird--6:before,
.wrapper-no4 .bird--7:after,
.wrapper-no4 .bird--7:before,
.wrapper-no4 .bird--8:after,
.wrapper-no4 .bird--8:before,
.wrapper-no4 .bird--9:after,
.wrapper-no4 .bird--9:before,
.wrapper-no4 .bird--10:after,
.wrapper-no4 .bird--10:before,
.wrapper-no4 .bird--11:after,
.wrapper-no4 .bird--11:before,
.wrapper-no4 .bird--12:after,
.wrapper-no4 .bird--12:before,
.wrapper-no4 .bird--13:after,
.wrapper-no4 .bird--13:before,
.wrapper-no4 .bird--14:after,
.wrapper-no4 .bird--14:before,
.wrapper-no4 .bird--15:after,
.wrapper-no4 .bird--15:before,
.wrapper-no4 .bird--16:after,
.wrapper-no4 .bird--16:before,
.wrapper-no4 .bird--17:after,
.wrapper-no4 .bird--17:before,
.wrapper-no4 .bird--18:after,
.wrapper-no4 .bird--18:before,
.wrapper-no4 .bird--19:after,
.wrapper-no4 .bird--19:before,
.wrapper-no4 .bird--20:after,
.wrapper-no4 .bird--20:before,
.wrapper-no4 .bird--21:after,
.wrapper-no4 .bird--21:before,
.wrapper-no4 .bird--22:after,
.wrapper-no4 .bird--22:before,
.wrapper-no4 .bird--23:after,
.wrapper-no4 .bird--23:before,
.wrapper-no4 .bird--24:after,
.wrapper-no4 .bird--24:before,
.wrapper-no4 .bird--25:after,
.wrapper-no4 .bird--25:before,
.wrapper-no4 .bird--26:after,
.wrapper-no4 .bird--26:before,
.wrapper-no4 .bird--27:after,
.wrapper-no4 .bird--27:before,
.wrapper-no4 .bird--28:after,
.wrapper-no4 .bird--28:before,
.wrapper-no4 .bird--29:after,
.wrapper-no4 .bird--29:before,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
  content: "";
}
.wrapper-no4 .bird:before,
.wrapper-no4 .bird--3:before,
.wrapper-no4 .bird--12:before,
.wrapper-no4 .bird--15:before,
.wrapper-no4 .bird--6:before,
.wrapper-no4 .bird--9:before,
.wrapper-no4 .bird--18:before {
  top: 10px;
}
.wrapper-no4 .bird:after,
.wrapper-no4 .bird--6:after,
.wrapper-no4 .bird--12:after,
.wrapper-no4 .bird--15:after,
.wrapper-no4 .bird--9:after,
.wrapper-no4 .bird--18:after {
  top: 35px;
}
.wrapper-no4 .bird--3:after {
  left: -10px;
}
.wrapper-no4 .bird--3:after {
  top: 40px;
}
.wrapper-no4 .bird--1,
.wrapper-no4 .bird--4,
.wrapper-no4 .bird--7,
.wrapper-no4 .bird--10,
.wrapper-no4 .bird--13,
.wrapper-no4 .bird--16,
.wrapper-no4 .bird--19 {
  top: 25px;
}
.wrapper-no4 .bird--2 {
  top: 45px;
}
.wrapper-no4 .bird--5 {
  top: 47px;
  left: 25px;
}
.wrapper-no4 .bird--8,
.wrapper-no4 .bird--11,
.wrapper-no4 .bird--14,
.wrapper-no4 .bird--17,
.wrapper-no4 .bird--20 {
  top: 50px;
}
.wrapper-no4 .bird--3,
.wrapper-no4 .bird--4 {
  left: 59px;
}
.wrapper-no4 .bird--6,
.wrapper-no4 .bird--7,
.wrapper-no4 .bird--8 {
  left: 118px;
}
.wrapper-no4 .bird--9,
.wrapper-no4 .bird--10,
.wrapper-no4 .bird--11 {
  left: 177px;
}
.wrapper-no4 .bird--12,
.wrapper-no4 .bird--13,
.wrapper-no4 .bird--14 {
  left: 236px;
}
.wrapper-no4 .bird--15,
.wrapper-no4 .bird--16,
.wrapper-no4 .bird--17 {
  left: 206.5px;
}
.wrapper-no4 .bird--20 {
  left: 108px;
}
.wrapper-no4 .bird--18,
.wrapper-no4 .bird--19 {
  left: 137.5px;
}
.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
  left: 118px;
  top: 0;
}
.wrapper-no4 .bird--30:before {
  top: 25px;
}
.wrapper-no4 .bird--30:after {
  top: 20px;
}
.wrapper-no4 .active .bird,
.wrapper-no4 .button-bird:hover .bird,
.wrapper-no4 .active .bird:before,
.wrapper-no4 .button-bird:hover .bird:before,
.wrapper-no4 .active .bird--3,
.wrapper-no4 .button-bird:hover .bird--3,
.wrapper-no4 .active .bird--4,
.wrapper-no4 .button-bird:hover .bird--4,
.wrapper-no4 .active .bird--4:after,
.wrapper-no4 .button-bird:hover .bird--4:after,
.wrapper-no4 .active .bird--4:before,
.wrapper-no4 .button-bird:hover .bird--4:before,
.wrapper-no4 .active .bird--9,
.wrapper-no4 .button-bird:hover .bird--9,
.wrapper-no4 .active .bird--9:after,
.wrapper-no4 .button-bird:hover .bird--9:after,
.wrapper-no4 .active .bird--13,
.wrapper-no4 .button-bird:hover .bird--13,
.wrapper-no4 .active .bird--13:after,
.wrapper-no4 .button-bird:hover .bird--13:after,
.wrapper-no4 .active .bird--13:before,
.wrapper-no4 .button-bird:hover .bird--13:before,
.wrapper-no4 .active .bird--15,
.wrapper-no4 .button-bird:hover .bird--15,
.wrapper-no4 .active .bird--16,
.wrapper-no4 .button-bird:hover .bird--16,
.wrapper-no4 .active .bird--18,
.wrapper-no4 .button-bird:hover .bird--18,
.wrapper-no4 .active .bird--21,
.wrapper-no4 .button-bird:hover .bird--21,
.wrapper-no4 .active .bird--21:after,
.wrapper-no4 .button-bird:hover .bird--21:after,
.wrapper-no4 .active .bird--27:before,
.wrapper-no4 .button-bird:hover .bird--27:before,
.wrapper-no4 .active .bird--24,
.wrapper-no4 .button-bird:hover .bird--24,
.wrapper-no4 .active .bird--24:after,
.wrapper-no4 .button-bird:hover .bird--24:after,
.wrapper-no4 .active .bird--24:before,
.wrapper-no4 .button-bird:hover .bird--24:before,
.wrapper-no4 .active .bird--27,
.wrapper-no4 .button-bird:hover .bird--27,
.wrapper-no4 .active .bird--27:after,
.wrapper-no4 .button-bird:hover .bird--27:after,
.wrapper-no4 .active .bird--27:before,
.wrapper-no4 .button-bird:hover .bird--27:before,
.wrapper-no4 .active .bird--30:before,
.wrapper-no4 .button-bird:hover .bird--30:before {
  animation-duration: 0.5s;
  animation-delay: -0.5s;
}
.wrapper-no4 .active .bird--1,
.wrapper-no4 .button-bird:hover .bird--1,
.wrapper-no4 .active .bird--1:after,
.wrapper-no4 .button-bird:hover .bird--1:after,
.wrapper-no4 .active .bird--3:before,
.wrapper-no4 .button-bird:hover .bird--3:before,
.wrapper-no4 .active .bird--5,
.wrapper-no4 .button-bird:hover .bird--5,
.wrapper-no4 .active .bird--5:after,
.wrapper-no4 .button-bird:hover .bird--5:after,
.wrapper-no4 .active .bird--5:before,
.wrapper-no4 .button-bird:hover .bird--5:before,
.wrapper-no4 .active .bird--7,
.wrapper-no4 .button-bird:hover .bird--7,
.wrapper-no4 .active .bird--7:after,
.wrapper-no4 .button-bird:hover .bird--7:after,
.wrapper-no4 .active .bird--7:before,
.wrapper-no4 .button-bird:hover .bird--7:before,
.wrapper-no4 .active .bird--9:before,
.wrapper-no4 .button-bird:hover .bird--9:before,
.wrapper-no4 .active .bird--10,
.wrapper-no4 .button-bird:hover .bird--10,
.wrapper-no4 .active .bird--10:after,
.wrapper-no4 .button-bird:hover .bird--10:after,
.wrapper-no4 .active .bird--10:before,
.wrapper-no4 .button-bird:hover .bird--10:before,
.wrapper-no4 .active .bird--14,
.wrapper-no4 .button-bird:hover .bird--14,
.wrapper-no4 .active .bird--14:after,
.wrapper-no4 .button-bird:hover .bird--14:after,
.wrapper-no4 .active .bird--14:before,
.wrapper-no4 .button-bird:hover .bird--14:before,
.wrapper-no4 .active .bird--17,
.wrapper-no4 .button-bird:hover .bird--17,
.wrapper-no4 .active .bird--17:after,
.wrapper-no4 .button-bird:hover .bird--17:after,
.wrapper-no4 .active .bird--17:before,
.wrapper-no4 .button-bird:hover .bird--17:before,
.wrapper-no4 .active .bird--19,
.wrapper-no4 .button-bird:hover .bird--19,
.wrapper-no4 .active .bird--19:after,
.wrapper-no4 .button-bird:hover .bird--19:after,
.wrapper-no4 .active .bird--19:before,
.wrapper-no4 .button-bird:hover .bird--19:before,
.wrapper-no4 .active .bird--18:after,
.wrapper-no4 .button-bird:hover .bird--18:after,
.wrapper-no4 .active .bird--22,
.wrapper-no4 .button-bird:hover .bird--22,
.wrapper-no4 .active .bird--22:after,
.wrapper-no4 .button-bird:hover .bird--22:after,
.wrapper-no4 .active .bird--22:before,
.wrapper-no4 .button-bird:hover .bird--22:before,
.wrapper-no4 .active .bird--25,
.wrapper-no4 .button-bird:hover .bird--25,
.wrapper-no4 .active .bird--25:after,
.wrapper-no4 .button-bird:hover .bird--25:after,
.wrapper-no4 .active .bird--25:before,
.wrapper-no4 .button-bird:hover .bird--25:before,
.wrapper-no4 .active .bird--28,
.wrapper-no4 .button-bird:hover .bird--28,
.wrapper-no4 .active .bird--28:after,
.wrapper-no4 .button-bird:hover .bird--28:after,
.wrapper-no4 .active .bird--28:before,
.wrapper-no4 .button-bird:hover .bird--28:before,
.wrapper-no4 .active .bird--30:after,
.wrapper-no4 .button-bird:hover .bird--30:after {
  animation-duration: 0.7s;
  animation-delay: -0.5s;
}
.wrapper-no4 .active .bird:after,
.wrapper-no4 .button-bird:hover .bird:after,
.wrapper-no4 .active .bird--1:before,
.wrapper-no4 .button-bird:hover .bird--1:before,
.wrapper-no4 .active .bird--2,
.wrapper-no4 .button-bird:hover .bird--2,
.wrapper-no4 .active .bird--2:before,
.wrapper-no4 .button-bird:hover .bird--2:before,
.wrapper-no4 .active .bird--2:after,
.wrapper-no4 .button-bird:hover .bird--2:after,
.wrapper-no4 .active .bird--3:after,
.wrapper-no4 .button-bird:hover .bird--3:after,
.wrapper-no4 .active .bird--6,
.wrapper-no4 .button-bird:hover .bird--6,
.wrapper-no4 .active .bird--6:after,
.wrapper-no4 .button-bird:hover .bird--6:after,
.wrapper-no4 .active .bird--6:before,
.wrapper-no4 .button-bird:hover .bird--6:before,
.wrapper-no4 .active .bird--8,
.wrapper-no4 .button-bird:hover .bird--8,
.wrapper-no4 .active .bird--8:after,
.wrapper-no4 .button-bird:hover .bird--8:after,
.wrapper-no4 .active .bird--8:before,
.wrapper-no4 .button-bird:hover .bird--8:before,
.wrapper-no4 .active .bird--11,
.wrapper-no4 .button-bird:hover .bird--11,
.wrapper-no4 .active .bird--11:after,
.wrapper-no4 .button-bird:hover .bird--11:after,
.wrapper-no4 .active .bird--11:before,
.wrapper-no4 .button-bird:hover .bird--11:before,
.wrapper-no4 .active .bird--12,
.wrapper-no4 .button-bird:hover .bird--12,
.wrapper-no4 .active .bird--12:after,
.wrapper-no4 .button-bird:hover .bird--12:after,
.wrapper-no4 .active .bird--12:before,
.wrapper-no4 .button-bird:hover .bird--12:before,
.wrapper-no4 .active .bird--16,
.wrapper-no4 .button-bird:hover .bird--16,
.wrapper-no4 .active .bird--16:after,
.wrapper-no4 .button-bird:hover .bird--16:after,
.wrapper-no4 .active .bird--16:before,
.wrapper-no4 .button-bird:hover .bird--16:before,
.wrapper-no4 .active .bird--20,
.wrapper-no4 .button-bird:hover .bird--20,
.wrapper-no4 .active .bird--20:after,
.wrapper-no4 .button-bird:hover .bird--20:after,
.wrapper-no4 .active .bird--20:before,
.wrapper-no4 .button-bird:hover .bird--20:before,
.wrapper-no4 .active .bird--18:before,
.wrapper-no4 .button-bird:hover .bird--18:before,
.wrapper-no4 .active .bird--23,
.wrapper-no4 .button-bird:hover .bird--23,
.wrapper-no4 .active .bird--23:after,
.wrapper-no4 .button-bird:hover .bird--23:after,
.wrapper-no4 .active .bird--23:before,
.wrapper-no4 .button-bird:hover .bird--23:before,
.wrapper-no4 .active .bird--26,
.wrapper-no4 .button-bird:hover .bird--26,
.wrapper-no4 .active .bird--26:after,
.wrapper-no4 .button-bird:hover .bird--26:after,
.wrapper-no4 .active .bird--26:before,
.wrapper-no4 .button-bird:hover .bird--26:before,
.wrapper-no4 .active .bird--29,
.wrapper-no4 .button-bird:hover .bird--29,
.wrapper-no4 .active .bird--29:after,
.wrapper-no4 .button-bird:hover .bird--29:after,
.wrapper-no4 .active .bird--29:before,
.wrapper-no4 .button-bird:hover .bird--29:before,
.wrapper-no4 .active .bird--30,
.wrapper-no4 .button-bird:hover .bird--30 {
  animation-duration: 0.6s;
  animation-delay: -0.75s;
}
@keyframes fly-cycle {
  100% {
    background-position: -360px 0;
  }
}
@keyframes text-fade {
  0% {
    color: transparent;
    opacity: 1;
    top: -50%;
    left: auto;
  }
  1% {
    color: transparent;
    opacity: 0;
  }
  50% {
    color: transparent;
    opacity: 0;
  }
  100% {
    color: #131335;
    opacity: 1;
  }
}
@keyframes feather-fade {
  0% {
    top: -100px;
    opacity: 0;
  }
  25% {
    transform: rotate(10deg);
    left: 30%;
  }
  50% {
    transform: rotate(-5deg);
    opacity: 1;
    left: 45%;
  }
  75% {
    transform: rotate(10deg);
    left: 32%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
    top: 12px;
    left: 43%;
  }
}
/* ------------------------------------------------------------------ */
.headband {
  display: flex;
  justify-content: space-around;

  height: 190px;

  padding-left: 235px;
  padding-right: 235px;

  background-color: #1c3b4a;

  color: white;
}

.headband ._left,
.headband ._mid,
.headband ._right {
  display: flex;

  width: 360px;
  
  margin-top: auto;
  margin-bottom: auto;
}

.headband ._svg1 img,
.headband ._svg2 img,
.headband ._svg3 img {
  width: 100px;

  margin-right: 15px;
}


.headband ._text_svg1 h4,
.headband ._text_svg2 h4,
.headband ._text_svg3 h4 {
  font-family: GlobalMedium;

  letter-spacing: 0.3px;
}

.headband ._text_svg1 p,
.headband ._text_svg2 p,
.headband ._text_svg3 p {
  margin-top: 11px;

  font-size: 14px;
  font-family: "GlobalBook";

  line-height: 23px;
}


.ct_mise_en_avant ._titre{
  font-size: 28px;
  font-weight: 600;
  font-family: globalMedium;
}




